<html>
	<head>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../bower_components/datatables/media/css/demo_table.css">
	<link href="css/common.css" rel="stylesheet">
	<title>Crowdlab</title>
	</head>
	<body>

				<div class="page-header" id="header">
					<img src="img/logo.png" class="img-rounded">
				</div>
				<div id="table-container">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="main" width="100%">
						<thead id="table_head">
						</thead>
						<tbody id="table_body">
						</tbody>
					</table>
				</div>
	</body>
	<script src='../bower_components/jquery/dist/jquery.min.js'></script>
	<script src='../bower_components/datatables/media/js/jquery.dataTables.js'></script>
	<script src="js/dashboard.js"></script>
</html>