<html>
	<head>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="css/common.css" rel="stylesheet">
	<title>Crowdlab</title>
	</head>
	<body>

				<div class="page-header" id="header">
					<img src="img/logo.png" class="img-rounded">
				</div>
				<div id="main-container">
					<h3> Edit instruction for each task </h3>
					<div class="editable" id="editor" contenteditable="true">
					</div>
					<div class="submit-button"><button class="btn btn-primary" type="submit" onclick="submit()">Submit</button></div>
				</div>
	</body>
	<script src='../bower_components/jquery/dist/jquery.min.js'></script>
	<script src="../bower_components/ckeditor/ckeditor.js"></script>
	<script src="../bower_components/ckeditor/adapters/jquery.js"></script>
	<script src="js/instruction.js"></script>
</html>