<html>
	<head>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="css/instruction.css" rel="stylesheet">

	</head>
	<body>

				<div class="page-header" id="header">
					<img src="img/logo.png" class="img-rounded">
					<h3>Edit your instruction for each task</h3>
				</div>
				<textarea cols="30" id="editor" name="editor" rows="10">
				</textarea>
				<div class="submit-button"><button class="btn btn-default" type="submit">Submit</button></div>
			</form>
	</body>
	<script src='../bower_components/jquery/dist/jquery.min.js'></script>
	<script src="../bower_components/ckeditor/ckeditor.js"></script>
	<script src="../bower_components/ckeditor/adapters/jquery.js"></script>
	<script src="js/instruction.js"></script>
</html>